<!DOCTYPE html>


<body>
    <div class="container">
        <%@crafts_array.each do |craft|%>
          <div class="item">
            <a href="/craft/<%=craft.id%>">
                <img src=<%=craft.image_url%> width="320" height="200"/>
            </a>
          </div>
        <%end%>
    </div>



</body>