<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>The Solution to Stressful Big/Little Weeks.</title>
    <meta name="description" content="We help crafty big sisters rock their big/little weeks." />

    <link href='http://fonts.googleapis.com/css?family=Yellowtail|Give+You+Glory|Petit+Formal+Script|Carrois+Gothic|Salsa|Leckerli+One' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,200italic,300italic,400italic,600italic,700italic|Droid+Sans|Yellowtail|Lato|Give+You+Glory|Petit+Formal+Script|Carrois+Gothic|Salsa|Leckerli+One' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="css/bootstrap.css"  type="text/css"/>
    <link rel="stylesheet" href="css/application.css"  type="text/css"/>
</head>

<body>
    <div class="container">
        <h1 class="title"><em>SoratStar:</em></h1>
            <h1 class="subtitle">
                <em>noun, verb</em>
                A sorority girl of the highest coolness who rocks Big/Little week with her crafts.
            </h1>
    </div>


    <div class="api-test">
        <%@res.items.each do |item|%>
            <%=item.get_element('ItemAttributes')%>
        <%end%>
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>