<!DOCTYPE html>

<head>

    <title>craft profile</title>
    <meta name="description" content="We help crafty big sisters rock their big/little weeks." />

    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1><%=@craft.name%></h1>
</body>